@import "variables.scss";

.header {
  background-color: $mainColor;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
  }

  &__link-logo {
    display: flex;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    margin-right: 70px;
  }

  &__nav-item:last-child {
    margin-right: 0;
  }

  &__nav-link {
    font-size: 18px;
    font-weight: 500;
  }

  &__btn {
    display: flex;
    align-items: center;
  }

  &__btn-icon {
    margin-right: 6px;
  }

  &__btn-text {
    font-size: 18px;
    font-weight: 500;
  }
}
