@import "variables.scss";

.map {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__map-nav {
    margin-bottom: 30px;
  }
}

.map-nav {
  display: flex;

  &__item {
    margin-right: 70px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    font-size: 22px;
    font-weight: 500;

    &:hover::after {
      background-color: $mainColor;
    }

    &:active {
      color: $mainColor;
    }

    &_active {
      color: $mainColor;
    }
  }
}

.map-tabs {
  &__item {
    display: none;

    &_active {
      display: flex;
    }
  }
}

.floor-map {
  position: relative;
  display: flex;
  flex-direction: column;

  &__rooms {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__room {
    position: absolute;
    width: 12.5%;
    height: 40%;

    &[data-id="101"] {
      top: 60%;
      left: 0;
    }

    &[data-id="103"] {
      top: 60%;
      left: 12.5%;
    }

    &[data-id="104"] {
      left: 21.1207%;
    }

    &[data-id="105"] {
      right: 21.1207%;
    }

    &[data-id="106"] {
      right: 0;
    }

    &[data-id="201"], &[data-id="301"] {
      top: 60%;
      left: 0;
    }

    &[data-id="203"], &[data-id="303"] {
      top: 60%;
      left: 12.5%;
    }

    &[data-id="204"], &[data-id="304"] {
      left: 21.1207%;
    }

    &[data-id="205"], &[data-id="305"] {
      top: 60%;
      left: 24.9138%;
    }

    &[data-id="206"], &[data-id="306"] {
      left: 33.6207%;
      width: 16.3793%;
    }

    &[data-id="207"], &[data-id="307"] {
      top: 60%;
      right: 37.1552%;
    }

    &[data-id="208"], &[data-id="308"] {
      right: 33.6207%;
      width: 16.3793%;
    }

    &[data-id="209"], &[data-id="309"] {
      top: 60%;
      right: 24.8276%;
    }

    &[data-id="210"], &[data-id="310"] {
      right: 21.1207%;
    }

    &[data-id="211"], &[data-id="311"] {
      top: 60%;
      right: 12.5%;
    }

    &[data-id="212"], &[data-id="312"] {
      right: 0%;
    }
  }
}

.room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover &__doctor-list {
    opacity: 1;
  }

  &__doctor-list {
    position: absolute;
    bottom: calc(50% + 30px);
    left: calc(50%);
    transform: translate(-50%);
    padding: 10px;
    width: max-content;
    background-color: $mainColor;
    border: 2px solid $colorLight;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: calc(50% - 11px);
      height: 13px;
      width: 22px;
      border-top: 13px solid $colorLight;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
    }
  }

  &__doctor-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__doctor-name {
    font-size: 12px;
  }

  &__doctor-post {
    color: $tooltipColor;
    font-size: 12px;
  }

  &__number {
    color: $textDark;
    font-size: 26px;
    font-weight: 700;
  }
}