<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/main-page.css">
    <title>Hospital Website</title>
  </head>
  <body>
    <header class="header">
      <div class="container header__container">
        <a class="header__link-logo" href="#">
          <img class="header__logo" src="images/logo.svg" alt="Логотип">
        </a>
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a class="header__nav-link base-interactive" href="#">
                Врачи
              </a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link base-interactive" href="#">
                Пациенты
              </a>
            </li>
          </ul>
        </nav>
        <button class="header__btn base-interactive">
          <svg class="header__btn-icon" width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.5 14l-1.4-1.45L8.65 10H0V8h8.65L6.1 5.45 7.5 4l5 5-5 5zM0 18v-6h2v4h14V2H2v4H0V0h18v18H0z" fill="#000"/>
          </svg>
          <span class="header__btn-text">
            Войти
          </span>
        </button>
      </div>
    </header>
    <main class="main">
      <section class="section hero">
        <div class="container hero__container">
          <div class="hero__content">
            <ul class="hero__main-info main-info">
              <li class="main-info__item">
                <h3 class="main-info__point">
                  Адрес
                </h3>
                <address class="main-info__address">
                  Россия, г. Томск, ул. Нахимова, 1
                </address>
              </li>
              <li class="main-info__item">
                <h3 class="main-info__point">
                  Телефон
                </h3>
                <a class="main-info__phone base-interactive" href="tel:99999999999">9(999)-999-99-99</a>
              </li>
              <li class="main-info__item">
                <h3 class="main-info__point">
                  E-mail
                </h3>
                <a class="main-info__email base-interactive" href="mailto:example@mail.ru">example@mail.ru</a>
              </li>
              <li class="main-info__item">
                <h3 class="main-info__point">
                  График
                </h3>
                <span class="main-info__schedule">
                  Понедельник - пятница: 8:00-19:00<br>Суббота: 8:00 - 13:00
                </span>
              </li>
            </ul>
            <button class="hero__btn">
              Записаться на приём
            </button>
          </div>
        </div>
      </section>
      <section class="section map">
        <div class="container map__container">
          <ul class="map__map-nav map-nav">
            <li class="map-nav__item">
              <button class="map-nav__btn map-nav__btn_active base-interactive" data-target="one">Этаж 1</button>
            </li>
            <li class="map-nav__item">
              <button class="map-nav__btn base-interactive" data-target="two">Этаж 2</button>
            </li>
            <li class="map-nav__item">
              <button class="map-nav__btn base-interactive" data-target="three">Этаж 3</button>
            </li>
          </ul>
          <ul class="map__map-tabs map-tabs">
            <li class="map-tabs__item map-tabs__item_active" data-path="one">
              <div class="map-tabs__floor-map floor-map">
                <img class="floor-map__img" src="images/first-floor.jpg" alt="карта первого этажа">
                <ul class="floor-map__rooms">
                  <li class="floor-map__room room" data-id="101">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      101
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="102">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      102
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="103">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      103
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="104">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      104
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="105">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      105
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="106">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      106
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="registry">
                    <ul class="room__tooltip">
                      <li class="room__schedule-item schedule-item">
                        <span class="schedule-item__days">
                          ПН - ПТ
                        </span>
                        <span class="schedule-item__time">
                          8:00 - 13:00<br>14:00 - 19:00
                        </span>
                      </li>
                      <li class="room__schedule-item schedule-item">
                        <span class="schedule-item__days">
                          СБ
                        </span>
                        <span class="schedule-item__time">
                          8:00 - 13:00
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      Регистратура
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="cloakroom">
                    <ul class="room__tooltip">
                      <li class="room__schedule-item schedule-item">
                        <span class="schedule-item__days">
                          ПН - ПТ
                        </span>
                        <span class="schedule-item__time">
                          8:00 - 13:00<br>14:00 - 19:00
                        </span>
                      </li>
                      <li class="room__schedule-item schedule-item">
                        <span class="schedule-item__days">
                          СБ
                        </span>
                        <span class="schedule-item__time">
                          8:00 - 13:00
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      Гардероб
                    </span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="map-tabs__item" data-path="two">
              <div class="map-tabs__floor-map floor-map">
                <img class="floor-map__img" src="images/second-floor.jpg" alt="карта второго этажа">
                <ul class="floor-map__rooms">
                  <li class="floor-map__room room" data-id="201">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      201
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="202">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      202
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="203">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      203
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="204">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      204
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="205">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      205
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="206">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      206
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="207">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      207
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="208">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      208
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="209">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      209
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="210">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      210
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="211">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      211
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="212">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      212
                    </span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="map-tabs__item" data-path="three">
              <div class="map-tabs__floor-map floor-map">
                <img class="floor-map__img" src="images/third-floor.jpg" alt="карта третьего этажа">
                <ul class="floor-map__rooms">
                  <li class="floor-map__room room" data-id="301">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      301
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="302">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      302
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="303">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      303
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="304">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      304
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="305">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      305
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="306">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      306
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="307">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      307
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="308">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      308
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="309">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      309
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="310">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      310
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="311">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      311
                    </span>
                  </li>

                  <li class="floor-map__room room" data-id="312">
                    <ul class="room__tooltip">
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                      <li class="room__doctor-info">
                        <span class="room__doctor-name">
                          Иванова И. И.
                        </span>
                        <span class="room__doctor-post">
                          Хирург
                        </span>
                      </li>
                    </ul>
                    <span class="room__number">
                      312
                    </span>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>
    <script src="scripts/script.js"></script>
  </body>
</html>
