<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/main-page.css">
    <title>Hospital Website</title>
  </head>
  <body>
    <header class="header">
      <div class="container header__container">
        <a class="header__link-logo" href="#">
          <img class="header__logo" src="images/logo.svg" alt="Логотип">
        </a>
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a class="header__nav-link base-interactive" href="#">
                Врачи
              </a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link base-interactive" href="#">
                Пациенты
              </a>
            </li>
          </ul>
        </nav>
        <button class="header__btn base-interactive">
          <svg class="header__btn-icon" width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.5 14l-1.4-1.45L8.65 10H0V8h8.65L6.1 5.45 7.5 4l5 5-5 5zM0 18v-6h2v4h14V2H2v4H0V0h18v18H0z" fill="#000"/>
          </svg>
          <span class="header__btn-text">
            Войти
          </span>
        </button>
      </div>
    </header>
    <main class="main">
      <section class="section hero">
        <div class="container hero__container">
          <div class="hero__content">
            <ul class="hero__main-info main-info">
              <li class="main-info__item">
                <h3 class="main-info__point">
                  Адрес
                </h3>
                <address class="main-info__address">
                  Россия, г. Томск, ул. Нахимова, 1
                </address>
              </li>
              <li class="main-info__item">
                <h3 class="main-info__point">
                  Телефон
                </h3>
                <a class="main-info__phone base-interactive" href="tel:99999999999">9(999)-999-99-99</a>
              </li>
              <li class="main-info__item">
                <h3 class="main-info__point">
                  E-mail
                </h3>
                <a class="main-info__email base-interactive" href="mailto:example@mail.ru">example@mail.ru</a>
              </li>
              <li class="main-info__item">
                <h3 class="main-info__point">
                  График
                </h3>
                <span class="main-info__schedule">
                  Понедельник - пятница: 8:00-19:00<br>Суббота: 8:00 - 13:00
                </span>
              </li>
            </ul>
            <button class="hero__btn">
              Записаться на приём
            </button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
